<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Travels</title>
  <link type="type/css" href="firstpage.css" rel="stylesheet">
 </head>
<body>
<div id="centered">
<p class="text">Travelers</p>
</div>
<div class="block">
<span class="text2">Выберите ваш город:</span>
<p class="select1"> 
<select class="select">
  <option>Москва</option>
  <option>Пенза</option>
  <option>Самара</option>
</select>
</p>
 <p class="input1"><input type="submit" value="Отправить"></p>
</div>

</body>
</html>
